[submodule "src/waifu2x-ncnn-vulkan"]
	path = src/waifu2x-ncnn-vulkan
	url = https://github.com/nihui/waifu2x-ncnn-vulkan
[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11
